.left__sidebar {
  border-right: 1px solid var(--twitter-background);
  min-width: 17%;
  padding-right: 20px;
  position: fixed;
  overflow: auto;
  scrollbar-width: none;
  overflow-y: scroll;
}
.left__sidebar::-webkit-scrollbar {
  display: none; /* 스크롤 바 숨기기*/
}

.sidebar__btn__tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 50px !important;
  height: 50px !important;
  margin-top: 20px !important;
  display: block;
  width: 100%;
  font-size: 100;
}

.sidebar__twitterIcon {
  color: var(--twitter-color);
  padding-top: 10px;
}
.sidebar__profile {
  margin-top: 40%;
  bottom: 0;
  margin-bottom: 5%;
}
