article {
  padding-top: 12px;
  padding-right: 16px;
  padding-left: 16px;
  border: 1px solid lightgray;
}

.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
}
.post__header {
  display: flex;
  justify-content: space-between;
  max-width: 550px;
}
.post__body {
  flex: 0.7;
}

.post__body > img {
  border-radius: 20px;
  max-width: 550px;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  align-items: stretch;
  padding-bottom: 12px;
  max-width: 425px;
  padding-left: 12px;
  padding-right: 12px;
  color: rgb(83, 100, 113);
  font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.post__footer div {
  display: flex;
  align-items: center;
}
.post__description {
  margin-bottom: 10px;
  font-size: 15px;
}
.post__description > p {
  margin-top: 3px;
}
.post__headerText > h3 {
  font-size: 15px;
  margin: 0px;
}

.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__avatar {
  margin-right: 12px;
}

.post__description tag {
  color: #1d9bf0;
}
