body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}
.app {
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  justify-content: space-between;
}
.left__sidebar {
  height: 100%;
}
